.faq-area {
    background-color: #f2f2f2;

    .accordion-area {

        min-height: 640px;

        .accordion-button:not(.collapsed)::after {
            display: none;
        }

        .accordion-button::after {
            display: none;
        }

        .accordion-button {
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #5D5F66;
            background-color: #fff;
            border-color: transparent;

            &:focus {
                outline: none;
                box-shadow: unset;
            }

        }

        .accordion-button:not(.collapsed) {
            box-shadow: unset;
        }

        .accordion {

            --bs-accordion-bg: transparent;

        }

        .accordion-item {
            margin-bottom: 15px;
            filter: drop-shadow(0px 4px 120px rgba(27, 62, 87, 0.041));
            border: none;
        }

        .accordion-body {
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
        }

    }
}

@media screen and (max-width:576px) {
    .faq-area {
        .heading {
            h2 {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}