.pricing-banner-wrapper {
    background-color: #f2f2f2;
}

.pricing-banner {
    min-height: 790px;


    .subscribe-form-area {
        max-width: 530px;
        margin: 0 auto;
        text-align: center;

        .subscribe-heading {
            h1 {
                font-size: 44px;
                line-height: 54px;
            }
        }

        .subscribe-desc {
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #EDEDED;
            }
        }

        form {
            position: relative;
            margin-top: 35px;

            input {
                width: 100%;
                border: none;
                padding: 0px 30px;
                font-weight: 400;
                font-size: 15px;
                height: 50px;

                &::placeholder {
                    color: #7E7E81;
                }
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                height: 50px;
                border: none;
                padding: 0px 34px;
                font-family: $inter;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: #fff;
                background-color: #1DA8DF;

            }
        }
    }

    .choose-plan-area {

        padding-bottom: 40px;
        filter: unset;

        .heading {
            padding: 0px 0px;

            h2 {
                font-size: 32px;
                line-height: 40px;
            }
        }

        .btn-area {
            .theme-btn {
                padding: 10px 33px;
            }

        }
    }

    .form-wrapper {
        background-color: transparent;
        padding: 50px 30px;
        margin-right: -45px;
        filter: unset;

        input {
            background: #f4f4f4;
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pricing-banner .form-wrapper {
        padding: 15px 30px;
        margin-right: 0px;
    }

    .pricing-banner {
        min-height: fit-content;
        padding-bottom: 40px;
    }
}

@media (min-width:575px) and (max-width:767px) {
    .pricing-banner .form-wrapper {
        padding: 15px 30px;
        margin-right: 0px;
    }
}

@media (max-width:768px) {
    .pricing-banner {
        height: fit-content;
        padding-bottom: 50px;
    }

    .pricing-banner .choose-plan-area {
        padding-bottom: 0px;
    }

    .pricing-banner .subscribe-form-area .subscribe-heading h1 {
        font-size: 34px;
        line-height: 44px;
    }

    .pricing-banner .subscribe-form-area form button {
        position: unset;
        width: 100%;
    }

    .pricing-banner .subscribe-form-area .subscribe-desc p {
        font-size: 16px;
        line-height: 24px;
    }

    .pricing-banner-wrapper {
        padding-bottom: 0px;
    }

    .pricing-banner .form-wrapper {
        margin-right: 0px;

    }
}