.progress-wrapper {
    padding: 20px 40px;

    .range {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 0px;
    }



    .range-input {

        height: 8px;
        width: 100%;
        border: none;
        appearance: auto;
        outline: none;
        background-color: #D4DEFF;
        border-radius: 8px;

        &:focus {
            outline: none;
        }

        &::-moz-range-thumb,
        &::-webkit-slider-thumb {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: #4285F4;
            appearance: none;
            border: none;
            outline: none;
        }

        &::-moz-range-progress,
        &::-webkit-slider-runnable-track {
            height: 8px;
            border-radius: 8px;
            background-color: #4285F4;
        }

    }



    .progress-wrapper .range {
        margin-bottom: 0px;
    }

    #million_rows {
        font-size: 24px;
    }

    .price {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #5D5F66;

        #price {
            font-size: 32px;
            font-weight: 300;
        }
        span{
            font-size: 32px;
            font-weight: 300;
        }
    }




}

.list-area {
    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;

        li {
            margin-bottom: 15px;

            .icon {
                margin-right: 10px;
            }

            .text-content {
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #5D5F66;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.choose-plan-area {
    .btn-area {
        .theme-btn {
            padding: 16px 33px;

            &:hover {
                color: #222;
            }
        }
    }

    .text-area {
        p {
            font-family: $inter;
            font-weight: 200;
            font-size: 14px;
            line-height: 24px;
            color: rgba(126, 126, 129, 1);

            a {
                color: #0077B5;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width:992px) and (max-width:1250px) {
    .list-area ul {
        column-gap: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .list-area ul {
        column-gap: 20px;
    }
}

@media screen and (max-width:575px) {
    .list-area {
        ul {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            li {
                .icon {
                    img {
                        width: 16px;
                        height: auto;
                    }
                }
            }
        }
    }

    .list-area ul li .text-content p {
        font-size: 14px;
    }

    .choose-plan-area .btn-area .theme-btn {
        padding: 10px 33px;
    }

    .choose-plan-area .text-area p {
        font-size: 14px;
        text-align: center;
    }
}