.pipeline-blog {
    padding-top: 235px;
    padding-bottom: 85px;

    .card-item {
        .card-item-desc {
            margin-top: 20px;
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #7E7E81;
            }
        }
    }
}