.header-area {
    &.transparent-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9888;

        .black-logo {
            display: none;
        }

        .open-menu-btn {
            button {
                i {
                    color: #fff;
                }
            }
        }

        &.sticky-header {
            .open-menu-btn {
                button {
                    i {
                        color: #222;
                    }
                }
            }
        }
    }

    &.sticky-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        background-color: #fff;
        filter: drop-shadow(0px 0px 20px gray);

        .logo-area {
            .transparent-logo {
                display: none;
            }

            .black-logo {
                display: block;
            }
        }

        .main-menu-area .primary-menu ul li a {
            color: #222;
        }

        .main-menu-area .primary-menu ul li.has-dropdown::before {
            color: #222;
        }

        .btn-area a {
            color: #222;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    // logo area

    .logo-area {
        position: relative;

        a {
            text-decoration: none;

        }
    }

    // main menu area
    .main-menu-area {
        .primary-menu {
            ul {
                display: flex;
                align-items: center;

                li {
                    position: relative;

                    a {
                        text-decoration: none;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        color: rgba(255, 255, 255, 1);
                        text-transform: capitalize;
                        margin-right: 30px;
                        min-height: 80px;
                        padding: 0px 5px;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 18px;

                        &:hover {
                            color: #00ccff;
                        }
                    }


                    /* HAS DROPDOWN MENU */
                    &.has-dropdown {
                        position: relative;


                        &::before {
                            position: absolute;
                            top: 31px;
                            right: 10px;
                            content: "\f078";
                            font-size: 16px;
                            line-height: 20px;
                            font-family: 'Font Awesome 6 Free';
                            font-weight: bold;
                            font-size: 14px;
                            transition: transform ease-in 0.5s;
                            color: #fff;
                        }

                        &:hover {
                            &::before {
                                transform: rotate(180deg);

                            }
                        }

                        // dropdown One
                        ul {
                            position: absolute;
                            top: 100%;
                            left: 0px;
                            min-width: 250px;
                            background: #fff;
                            display: block;
                            border-top: 5px solid #0671640a;
                            border-radius: 4px;
                            padding-bottom: 10px;
                            height: 0px;
                            opacity: 0;
                            visibility: hidden;
                            transition: all ease-out 0.4s;
                            transform-origin: top;
                            z-index: 2;

                            li {
                                a {
                                    min-height: fit-content;
                                    display: block;
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.072);
                                    padding: 14px 25px;
                                    margin: 0px;
                                    color: #222;

                                    &:hover {
                                        color: #00ccff;
                                    }
                                }

                                // dropdown two


                                position: relative;

                                ul {
                                    position: absolute;
                                    top: 0px;
                                    left: 100%;
                                    background: black;
                                    height: 0px !important;
                                    opacity: 0 !important;
                                    visibility: hidden !important;
                                }

                                &:hover {
                                    ul {
                                        height: fit-content !important;
                                        opacity: 1 !important;
                                        visibility: visible !important;
                                    }
                                }
                            }
                        }

                        &:hover {
                            ul {
                                height: fit-content;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }


            }
        }

    }

    .btn-area {
        a {
            text-decoration: none;
            font-weight: 700;
            line-height: 18px;
            font-size: 16px;
            text-transform: capitalize;
            color: #FFFFFF;

            &.nav-btn {
                background-color: #1DA8DF;
                margin-left: 30px;
                padding: 16px 34px;
            }
        }

    }


    .mobile-menu-area {
        position: fixed;
        top: 0px;
        left: 0px;
        min-height: 100vh;
        background: #222;
        padding-top: 20px;
        min-width: 340px;
        z-index: 9999;

        .primary-menu {
            ul {
                display: block;
                padding: 0px;

                li {

                    margin: 0px;
                    padding: 0px;

                    a {
                        min-height: fit-content;
                        display: block;
                        width: 100%;
                        margin-left: 0px;
                        color: #fff !important;
                        //border-bottom: 1px solid rgba(255, 255, 255, 0.109);
                        padding: 10px 15px;
                        &:hover {
                            color: #00ccff;
                        }
                    }

                    ul {
                        margin-left: 10px;
                    }

                    &.has-dropdown {
                        &::before {
                            position: absolute;
                            top: 10px;
                            right: 20px;
                            content: "+";
                            font-weight: 700;
                            color: #fff !important;
                            font-size: 14px;
                        }

                        &:hover {
                            &::before {
                                content: "-";
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }

                        ul {
                            position: relative;

                            li {
                                a {
                                    color: #222 !important;
                                    padding: 10px 25px;

                                    &:hover {
                                        color: #00ccff !important;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }


        .mobile-menu-top {
            border-bottom: 1px solid rgba(255, 255, 255, 0.092);
            padding: 20px 20px 40px;

            .close-btn {
                button {
                    background: #fff;
                    color: #222;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    border: none;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(255, 255, 255, 0.083);

                    &:hover {
                        background: #222;
                        color: #fff;
                    }
                }
            }
        }

        // mobile menu hide

        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all ease-in 0.4s;
        transform-origin: left;
    }

    .toggle-mobile-menu {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        transition: all ease-in 0.4s;
    }

    // open menu button
    .open-menu-btn {
        button {
            background: transparent;
            border: none;
            font-size: 22px;
            color: #222;
        }
    }
}

/*
 White background header
*/
.header-area {
    &.header {
        .transparent-logo {
            display: none;
        }

        .main-menu-area {
            .primary-menu {
                ul {
                    li {
                        a {
                            color: #07080C;

                            &:hover {
                                color: #00ccff;
                            }
                        }

                        &.has-dropdown {
                            &::before {
                                color: #222;
                            }
                        }
                    }
                }
            }
        }


        .btn-area a {
            &.nav-ts-btn {
                color: #07080C;

                &:hover {
                    color: #00ccff;
                }
            }
        }
    }
}

// menu space
@media all and (max-width:991px) {
    .header-area {
        padding: 20px 0px;
    }
}