.hero-area {
    min-height: 880px;
    position: relative;
    .row{
        align-items: center;
    }

    .left-area {
        display: block;
        p {
            font-size: 24px;
            line-height: 30px;
            color: #EDEDED;
            margin-top: 30px;
            font-family: $inter;
        }

        .btn-play {
            background: transparent;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 1);
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 22px;
            }
        }

    }


}

@media (min-width:769px) and (max-width:991px) {
    .hero-area {
        min-height: fit-content;
        padding-bottom: 40px;
    }


    .hero-heading {
        margin-top: 80px;

        h1 {
            font-size: 46px;
            line-height: 56px;
        }
    }

    .hero-area .form-wrapper .login-btn-area {
        max-width: 380px;
        margin: auto;
    }

    .hero-area .form-wrapper .right-bottom-area p {
        text-align: center;
    }
}

@media (min-width:577px) and (max-width:768px) {
    .hero-area {
        min-height: fit-content;
        padding-bottom: 40px;
    }


    .hero-heading {
        margin-top: 80px;

        h1 {
            font-size: 40px;
            line-height: 50px;
        }
    }

    .hero-area .left-area p {
        font-size: 20px;
    }
}

@media (max-width:576px) {
    .hero-area {
        min-height: fit-content;
        padding-bottom: 40px;
    }



    .hero-heading {
        margin-top: 80px;

        h1 {
            font-size: 34px;
            line-height: 36px;
        }
    }

    .hero-area .left-area p {
        font-size: 20px;
    }

    .left-area-video-player {
        margin-top: 32px;
    }

    .hero-area .left-area .btn-play {

        height: 43px;
        width: 43px;

        i {
            font-size: 16px;
        }
    }
}