.bg-white{
    background-color: #fff;
}
.description-bannar{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

    height: 560px;
    .left-area{
        
        .bannar-heading{
           
            h1{
                font-weight: 700;
                font-size: 44px;
                line-height: 54px;
                color: #fff;
            }
        }
       
    }
}

.description-area{
    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        font-family: $inter;
    }
}