.db-area {

    #scrolly {
        position: relative;



        figure {
            position: sticky;
            // height: 100vh;
            top: 50%;
            transform: translateY(-50%);


            .img-area {

                height: 300px;

                &:not(:nth-child(1)) {
                    display: none;
                }

            }
        }


    }


    article {
        position: relative;
        padding: 0 1rem;


    }


    .step {
        display: flex;
        align-items: center !important;


        &:first-child {
            align-items: start !important;
            margin-top: 50px;
        }
    }

    .step .content-area {
        margin-top: 60px;
        background-color: #233B8B;
        width: 100%;
        padding: 35px 32px;
    }

    .step .content-area p {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: #fff;
    }

    .step:last-child {
        margin-bottom: 0;
    }

    .step.is-active {
        background-color: goldenrod;
        color: #3b3b3b;
    }

}


@media (min-width:991px) and (max-width:1350px) {
    .db-area .step .content-area p {

        font-size: 18px;
        line-height: 28px;

    }

    .db-area .step:first-child {
        align-items: start !important;
        margin-top: 0px;
    }
}

// css for small devices

.db-area-small {
    padding: 50px 20px;

    .db-single-item {
        margin-top: 20px;
        text-align: center;

        .db-heading {
            margin-top: 15px;
            padding: 20px 0px;

            h3 {
                font-size: 18px;
                line-height: 28px;
                color: #07080C;
            }
        }
    }
}