.banner {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;

    &.pipelines-banner {
        .form-wrapper {
            margin-top: 120px;
        }
    }

    height: 480px;

    .banner-heading {
        h1 {
            font-weight: 700;
            font-size: 44px;
            line-height: 54px;
        }
    }

    .banner-desc {
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #EDEDED;
        }
    }

}



@media  (min-width:576px) and (max-width:768px) {
    .banner {
        padding: 0px 80px;
        padding-bottom: 50px;
    }
}

@media  (min-width:769px) and (max-width:992px) {
    .banner {
        height: fit-content;

        .banner-heading {
            margin-top: 40px;

            h1 {
                font-size: 36px;
                line-height: 46px;
            }
        }
    }

    .banner.banner-desc p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media  (max-width:768px) {
    .banner {
        height: fit-content;

        .banner-heading {
            margin-top: 40px;

            h1 {
                font-size: 34px;
                line-height: 36px;
            }
        }
    }

    .banner.banner-desc p {
        font-size: 16px;
        line-height: 24px;
    }
}